:root {
    --branco-principal: #ffffff;
    --cinza-secundario: #c0c0c0;
    --botao-azul: #167Bf7;
    --cor-fundo: #00030C;
    --fonte-principal: 'Inter';
    --botao-azul-efeito:hsl(213, 91%, 78%);
}

body {
    background-color: var(--cor-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

*{
    margin: 0;
    padding: 0;
}

.principal{
    background-image: url("img/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__botao{
    background-color: var(--botao-azul);
    border-radius: 5px;
    padding: 1em;
    color: var(--branco-principal);
    display: block;
    text-decoration: none;
    margin-bottom: 1em;
}

.botao_secundario {
    background-color: transparent;
    border: 2px solid var(--branco-principal);
}

.container__aviso{
    font-size: 12px;
    color: var(--cinza-secundario);
}

.container__titulo {
font-size: 28px;
font-weight: 700;
}

.container__imagem{
    margin: 1em 0 2em 0;
}

.container__caixa {
    margin: 0 6em;
}

.secundario__imagem {
    width: 80%;
}

.secundario {
    align-items: center;
    margin: 0 10em;
}

.descricao__titulo {
    font-weight: 700;
    font-size: 48px;
    color: var(--branco-principal);
    margin-bottom: 0.1em;
}

.descricao__texto {
    color: var(--cinza-secundario);
}

.secundario__botao {
    display: inline-block;
    margin-top: 1em;
}

.container__descricao {
    padding: 2em;
}

.dispositivos__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 5em 0;
}

.dispositivos {
    text-align: center;
}

.dispositivos__titulo {
    font-size: 48px;
    color: var(--branco-principal);
}

.lista__item {
    font-size: 32px;
    color: var(--branco-principal);
}

.rodape {
    text-align: center;
}

.rodape__logo {
    font-size: 48px;
    color: var(--branco-principal);
    margin-bottom: 1em;
    text-decoration: none;
}

.rodape__lista{
    display: flex;
    justify-content: center;
    list-style-type: none;
    

}

.lista__link {
    padding: 0.5em;
    color: var(--branco-principal);
    display: block;
    
    margin-bottom: 1em;
    
    
}

.rodape__texto{
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 1em 10em ;
    text-decoration: none;
}

.lista__link__link {
    text-decoration: none;
    color: var(--branco-principal);
}

.lista__link a:hover {
    color: var(--botao-azul);

}

.lista__link a:active{
    color: red;
}

.container__botao:hover {
    background-color: var(--botao-azul-efeito);
    color: var(--cor-fundo);
}